<nav th:fragment="nav">
    <div class="nav">
        <div class="logo">
            <img src="../../static/img/logo-main-01.png" alt="logo" th:src="@{/img/logo-main-01.png}">
        </div>
        <div class="menu">
            <ul class="main-menu">
                <li class="li-menu"><a th:href="@{/}">HOME</a></li>
                <li class="li-menu"><a th:href="@{/template}">TEMPLATE</a></li>
                <li class="li-menu"><a th:href="@{#}">SERVICIOS</a></li>
                <li class="li-menu"><a th:href="@{/restaurants}">RESTAURANTES</a></li>
            </ul>
        </div>
        <div class="get-started">
            <a class="btn-main-sec-gd" th:href="@{/signin}">SIGN IN</a>
            <a class="btn-main-gd" th:href="@{/signup}">SIGN UP</a>
        </div>
        <div class="get-started">
            <a class="btn-main-gd" th:href="@{/cart}">BANDEJA</a>
        </div>
    </div>
</nav>