<nav th:fragment="nav">
    <div class="nav">
        <div class="logo">
            <img src="../../static/img/logo-main-01.png" alt="logo" >
        </div>
        <div class="menu">
            <ul class="main-menu">
                <li class="li-menu"><a href="product/list.html" th:href="@{/product/list}">HOME</a></li>
                <li class="li-menu"><a href="order/list.html" th:href="@{/order/list}">SERVICIOS</a></li>
                <li class="li-menu"><a href="subscribe.html" th:href="@{/subscribe}">RESTAURANTES</a></li>
            </ul>
        </div>
        <div class="get-started">
            <button class="btn-main-sec-gd">SIGN IN</button>
            <button class="btn-main-gd">SIGN UP</button>
        </div>
    </div>
</nav>