<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<head th:insert="components/head.html :: head"></head>

<body>
<!-- MENU DE NAVEGACION -->
<header><nav th:insert="components/navbar.html :: nav"></nav></header>

<!-- BODY -->
<!-- BOOTSTRAP TABLE -->
<div class="container">
  <h1 class="sec-tabrest">Clientes</h1>
  <div class="card-deck">
    <!-- Iteramos sobre la lista de clientes y creamos una card de Bootstrap para cada uno -->
    <div th:each="cliente : ${clientes}" class="card">
      <div class="card-body">
        <h5 class="card-title" th:text="${cliente.name}"></h5>
        <p class="card-text" th:text="${cliente.email}"></p>
        <p class="card-text" th:text="${cliente.address} + ', ' + ${cliente.city} + ', ' + ${cliente.postalCode}"></p>
      </div>
    </div>
  </div>
</div>
<!-- Agregamos los enlaces a los archivos JavaScript de Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- FOOTER -->
<div th:insert="components/footer.html :: footer"></div>

</body>
</html>