<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<head th:insert="components/head.html :: head"></head>

<body>
<!-- MENU DE NAVEGACION -->
<header><nav th:insert="components/navbar.html :: nav"></nav></header>

<!-- BODY -->
<!-- BOOTSTRAP TABLE -->
<div class="container">
  <div><h1>Menú</h1></div>
  <div>          
      <div th:each="menuItem, index : ${menuItems}">
        <div th:text="${menuItem.id}"></div>
        <div th:text="${menuItem.name}"></div>
        <div th:text="${menuItem.description}"></div>
        <div th:text="${menuItem.price}"></div>
        <div th:text="${menuItem.category}"></div>
      </div>
    
  </div>
</div>

<!-- FOOTER -->
<div th:insert="components/footer.html :: footer"></div>

</body>
</html>