<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
  <meta charset="UTF-8">
  <title>Template</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/styles.css" th:href="@{/css/styles.css}" />
  <link rel="stylesheet" type="text/css" media="all"
        href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Splash&display=swap" rel="stylesheet">
</head>

<body>
<!-- MENU DE NAVEGACION -->
<header th:fragment="header">
  <nav th:replace="nav">
    <div class="nav">
      <div class="logo">
        <img src="/../static/img/logo-main-01.png" alt="logo" >
      </div>
      <div class="menu">
        <ul class="main-menu">
          <li class="li-menu"><a href="product/list.html" th:href="@{/product/list}">HOME</a></li>
          <li class="li-menu"><a href="order/list.html" th:href="@{/order/list}">SERVICIOS</a></li>
          <li class="li-menu"><a href="subscribe.html" th:href="@{/subscribe}">RESTAURANTES</a></li>
          <li class="li-menu"><a href="subscribe.html" th:href="@{/subscribe}">CONTACTO</a></li>
        </ul>
      </div>
      <div class="get-started">
        <button class="btn-main-sec-gd">SIGN IN</button>
        <button class="btn-main-gd">SIGN UP</button>
      </div>
    </div>
  </nav>
</header>

<!-- FORMULARIO SIGN UP -->
<div class="section-singup">
<div class="container-form">
  <h1 id="titulo" class="encabezado">Sign Up</h1>
  <div class="buttons">
  </div>
    <form action="" method="">
      <div class="section-inputs">
        <label for="name">
          <span>Name</span>
          <input id="name" type="text" name="name"/>
        </label>
        <label for="phone">
          <span>Teléfono</span>
          <input id="phone" type="number" name="phone"/>
        </label>
      </div>
      <div class="section-inputs">
        <label for="phone">
          <span>Ciudad</span>
          <input id="city" type="text" name="city"/>
        </label>
        <label for="postalCode">
          <span class="">Código postal</span>
          <input id="postalCode" type="text" name="postalCode"/>
        </label>
      </div>
      <label for="adress">
        <span class="">Direccón</span>
        <input id="adress" type="text" name="adress"/>
      </label>
      <label for="email">
        <span class="">Email</span>
        <input id="email" type="text" name="email"/>
      </label>
      <label for="password">
        <span class="">Password</span>
        <input id="password" type="text" name="password" placeholder="6+ characters"/>
      </label>
      <label class="checkbox-label" for="checkbox">
        <input id="checkbox" type="checkbox" name="checkbox"/>
        <span class="">Acepto los terminos Legales y la política de privacidad.</span>
      </label>
      <button type="submit" class="submit-btn">Create acount</button>
    </form>
  </div>
</div>
<div class="footer-cta">
  <img src="../static/img/logo-footer-01.png" height="400px"/>
  <p>All right reserved - Grupo Dos</p>
</div>
</body>
</html>