<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<head th:insert="~{components/head.html :: head}"></head>

<body>
<!-- MENU DE NAVEGACION -->
<header><nav th:insert="~{components/navbar.html :: nav}"></nav></header>

<!-- FORMULARIO SIGN UP -->
<div class="section-singup">
    <div class="container-form">
        <h1 id="titulo" class="encabezado">Sign In</h1>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <form action="/signin" method="POST">
                <label for="email">
                    <span>Usuario</span>
                    <input id="email" type="text" name="email"/>
                </label>
            <label for="password">
                <span class="">Contraseña</span>
                <input id="password" type="password" name="password" placeholder="6+ characters"/>
            </label>
            <button type="submit" class="submit-btn2">Inicia sesión</button>
        </form>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="~{components/footer.html :: footer}"></div>

</body>
</html>