<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="components/head.html :: head">
</head>
<body>
    <!-- MENU DE NAVEGACION -->
    <header th:fragment="header">
        <nav th:insert="components/navbar.html :: nav"></nav>
    </header>

    <!-- BODY -->
    <div class="container"></div>

    <!-- FOOTER -->
    <footer th:fragment="footer">
        <script th:src="@{/bootstrap.min.js}"></script>
        <div class="se-footer-cta">

        </div>

    </footer>
</body>
</html>